@import url('./header.css');
@import url('./main-content.css');
@import url('./sponsor.css');
@import url('./coloborate.css');
@import url('./video.css');
@import url('./receivers.css');
@import url('./contracts.css');
@import url('./reviews.css');
@import url('./integrations.css');
@import url('./moreoneflow.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Work+Sans:wght@500;600;700&display=swap');
/* 
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
*/
* {
  font-family: 'Work Sans', sans-serif;
  color: #013a4c;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: #013a4c;
}

li {
  list-style: none;
}

.btn {
  background: #ffd063;
  outline: none;
  border: none;
  padding: 11px 17px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
}

.btn:hover {
  cursor: pointer;
  background-color: #f7c041;
}

.btn-empty {
  background: transparent;
  border: 1px solid #346170;
}

.btn-empty:hover {
  background: #2b5f70;
  border: 1px solid #2b5f70;
  color: #fff;
}

.btn-full {
  color: #fff;
  background: #013a4c;
}

.btn-full:hover {
  color: #fff;
  background: #1e5668;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.title-font {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: none;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
