.header {
  background: #fff;
  padding: 23px 0;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-list {
  display: flex;
}

.navbar-list__item {
  margin-right: 32px;
}

.navbar-lang {
  margin-left: 50px;
}
