.receivers {
    padding: 122px 0;
}

.receivers-wrap {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-top: 122px;
  }

  .receivers-wrap::before {
    content: "";
    position: absolute;
    top: 3395px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/receivers/rectangle.png);
    background-size: cover;
    z-index: -1;
}

  .receivers-title {
    color: #013A4C;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
  }

  .receivers-title span {
    color: #013A4C;
    display: block;
  }

 .receivers-img {
  
}

